fastapi
uvicorn
pymongo
motor
sqlalchemy
psycopg2-binary
bcrypt
passlib
python-jose
python-multipart
pandas
numpy
scikit-learn
tensorflow
joblib
scapy
requests
web3
elasticsearch
redis
celery
python-dotenv
